<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
	<title>User Dashboard</title>
</head>

<body class="d-flex flex-column h-100">
	<div layout:fragment="content">
		<div th:if="${message != null}" class="alert alert-info" th:utext="${message}">message</div>
		<div th:if="${error != null}" class="alert alert-danger" th:utext="${error}">
			error</div>
		<div class="container">

			We don't have anything right now to display here.

		</div>
	</div>

</body>

</html>