<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
	<title th:utext="${CONTENT_TITLE}">About Us</title>
</head>

<body>

	<div layout:fragment="header">
		<div class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" th:href="@{/public/index}">Check-Concepts</a>
			</div>
		</div>

	</div>

	<div layout:fragment="content">

		<!--Section: Contact v.2-->
		<section class="mb-4">

			<!--Section heading-->
			<h2 class="h1-responsive font-weight-bold text-center my-4">About Us</h2>
		</section>
		<!--Section: Contact v.2-->
	</div>

	<th:block th:fragment="optional">

	</th:block>

</body>

</html>