<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" layout:decorate="~{layout}">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII" />
	<style>
		.password-verdict {
			color: #000;
		}
	</style>
	<script th:src="@{/resources/pwstrength.js}"></script>
	<title th:utext="#{message.changePassword}">change password</title>
</head>

<body class="d-flex flex-column h-100">
	<div layout:fragment="content">
		<div class="row d-flex justify-content-center align-items-center h-100 py-5">
			<div class="col-12 col-md-8 col-lg-6 col-xl-5">
				<div class="card shadow-2-strong" style="border-radius: 1rem;">
					<div class="card-body p-5 text-center">
						<div id="errormsg" class="alert alert-danger" style="display:none"></div>
						<h3 class="mb-5" th:utext="#{message.changePassword}">change password </h3>
						<form>
							<div class="form-floating mb-3">

								<input class="form-control" id="oldpass" name="oldPassword" type="password" placeholder="oldPassword" value=''>
								<label for="oldpass" th:utext="#{label.user.oldPassword}">old</label>
							</div>

							<div class="form-floating">

								<input class="form-control" id="password" name="newPassword" type="password" placeholder="newPassword" value=''>
								<label for="password" th:utext="#{label.user.newPassword}">new</label>
							</div>

							<div class="form-floating">

								<input class="form-control" id="matchPassword" name="matchingPassword" placeholder="matchingPassword" type="password"
									value=''>
								<label for="matchPassword" th:utext="#{label.user.confirmPass}">confirm</label>
							</div>


							<div id="globalError" class="alert alert-danger col-sm-12" style="display:none">error</div>

							<hr class="my-4">
							<button class="btn btn-primary" type="submit" onclick="savePass()"
								th:utext="#{message.changePassword}">change
							</button>
						</form>

					</div>
				</div>
			</div>
		</div>


		<script th:inline="javascript">
			var serverContext = [[@{/}]];

			$(document).ready(function () {
				$('form').submit(function (event) {
					savePass(event);
				});

				$(":password").keyup(function () {
					if ($("#password").val() != $("#matchPassword").val()) {
						$("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
					} else {
						$("#globalError").html("").hide();
					}
				});

				options = {
					common: {minChar: 8},
					ui: {
						showVerdictsInsideProgressBar: true,
						showErrors: true,
						errorMessages: {
							wordLength: /*[[#{error.wordLength}]]*/,
							wordNotEmail: /*[[#{error.wordNotEmail}]]*/,
							wordSequences: /*[[#{error.wordSequences}]]*/,
							wordLowercase: /*[[#{error.wordLowercase}]]*/,
							wordUppercase: /*[[#{error.wordUppercase}]]*/,
							wordOneNumber: /*[[#{error.wordOneNumber}]]*/,
							wordOneSpecialChar: /*[[#{error.wordOneSpecialChar}]]*/
                    }
					}
				};
				$('#password').pwstrength(options);
			});

			function savePass(event) {
				event.preventDefault();
				$(".alert").html("").hide();
				$(".error-list").html("");
				if ($("#password").val() != $("#matchPassword").val()) {
					$("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
					return;
				}
				var formData = $('form').serialize();
				$.post(serverContext + "user/updatePassword", formData, function (data) {
					window.location.href = serverContext /* + "login" */ + "?message=" + data.message;
				})
					.fail(function (data) {
						if (data.responseJSON.error.indexOf("InvalidOldPassword") > -1) {
							$("#errormsg").show().append(data.responseJSON.message);
						}
						else if (data.responseJSON.error.indexOf("InternalError") > -1) {
							$("#errormsg").show().append(data.responseJSON.message);
						}
						else {
							var errors = $.parseJSON(data.responseJSON.message);
							$.each(errors, function (index, item) {
								$("#globalError").show().html(item.defaultMessage);
							});
							errors = $.parseJSON(data.responseJSON.error);
							$.each(errors, function (index, item) {
								$("#globalError").show().append(item.defaultMessage + "<br/>");
							});
						}
					});
			}

		</script>
	</div>


</body>

</html>