<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
	<title>Contact Us</title>
	<script th:inline="javascript">
		window.onload = function () {
			displayMessage();
		};

		function displayMessage() {

			const queryString = window.location.search;
			const urlParams = new URLSearchParams(queryString);
			const message = urlParams.get('message');

			const div = document.getElementById('message');
			if (div.style.display === "none" && message != null) {
				div.style.display = "block";
				div.textContent = message;
			}
		}

	</script>
</head>

<body class="d-flex flex-column h-100">

	<div layout:fragment="content">
		<div id="message" th:if="${message == null}" style="display: none;" class="alert alert-info"></div>

		<!--Section: Contact v.2-->
		<section class="mb-4 ms-4">

			<div class="text-center mb-5">
			<i class="fas fa-envelope mt-4 fa-2x"></i>
				<h3 class="fw-bolder">Get in touch </h3>
				<p class="lead fw-normal text-muted mb-0">We'd love to hear from you</p>
			</div>
			<div class="row">

				<!--Grid column-->
				<div class="col-md-9 mb-md-0 mb-5">
					<form action="/" method="POST" enctype="utf8">
						<!--Grid row-->
						<div class="row">

							<!--Grid column-->
							<div class="col-md-6">
								<div class="form-floating md-form mb-0">
									<input type="text" class="form-control" id="floatingInput" required
										placeholder="ABC XYZ" name='name' value=''>
									<label for="floatingInput">Your Name</label>
								</div>
							</div>

							<!--Grid column-->

							<!--Grid column-->
							<div class="col-md-6">
								<div class="form-floating md-form mb-0">
									<input type="email" class="form-control" id="email" required
										placeholder="abc@xyz.com" name='email' value=''>
									<label for="email">Your Email</label>
								</div>
							</div>
							<!--Grid column-->

						</div>
						<!--Grid row-->
						<br />

						<!--Grid row-->
						<div class="row">
							<div class="col-md-6">
								<div class="form-floating md-form mb-0">
									<input type="text" class="form-control" id="subject" required
										placeholder="abc xyz pqr" name='subject' value=''>
									<label for="subject">Subject</label>
								</div>
							</div>
						</div>
						<!--Grid row-->

						<br />

						<!--Grid row-->
						<div class="row">

							<!--Grid column-->

							<div class="col-md-6">
								<div class="md-form mb-0">
									<textarea type="text" id="message" name="message" rows="4"
										placeholder="your message ..." required
										class="form-control md-textarea"></textarea>
								</div>
							</div>
						</div>
						<!--Grid row-->

						<br />
						<div class="text-center text-md-left">
							<button type="submit" class="btn btn-primary">Send</button>
						</div>
					</form>

					<div class="status"></div>
				</div>
				<!--Grid column-->

				<!--Grid column-->
				<div class="col-md-3 text-center">
					<ul class="list-unstyled mb-0">
						<li><i class="fas fa-map-marker-alt fa-2x"></i>
							<p>
							Medshingi, Sangola, Solapur 413307
							</p>
						</li>

						<li><i class="fas fa-phone mt-4 fa-2x"></i>
							<p>
							+91 9448428031
							</p>
						</li>

						<li><i class="fas fa-envelope mt-4 fa-2x"></i>
							<p>
							check.authentic.concepts@gmail.com
							</p>
						</li>
					</ul>
				</div>
				<!--Grid column-->

			</div>
			
			<script th:inline="javascript">
			var serverContext = [[@{/}]];

			$(document).ready(function () {
				$('form').submit(function (event) {
					contact(event);
				});
			});

			function contact(event) {
				event.preventDefault();
				var formData = $('form').serialize();
				$.post(serverContext + "contact/mail", formData, function (data) {
					if (data.message == "success") {
						window.location.href = serverContext + "contact?message=We have successfully received your message. Thank you for your message !";
					}

				})
					.fail(function (data) {
						if (data.responseJSON.error == "UserAlreadyExist") {
							$("#emailError").show().html(data.responseJSON.message);
						}
					});
			}
		</script>

		</section>
		<!--Section: Contact v.2-->

		

	</div>

</body>

</html>