<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" layout:decorate="~{layout}">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII" />
	<title th:utext="#{message.resetPassword}">reset</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>

<body class="d-flex flex-column h-100">
	<div layout:fragment="content">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12 col-md-8 col-lg-6 col-xl-8">
				<div class="card shadow-2-strong" style="border-radius: 1rem; margin: 1.1em;">
					<div class="card-body p-5 text-center">
					<h3 class="mb-5">Reset Password</h3>
						<div class="row">
							<form action="#">
							
							<div class="form-floating mb-3">
											<input name="email" type="email" class="form-control" id="email"
												placeholder="name@example.com" value="" required="required">
											<label for="email" th:utext="#{label.form.loginEmail}">Email
												address</label>
										</div>
							
							
								<br />
								<button class="btn btn-primary" type="submit"
									th:utext="#{message.resetPassword}">reset</button>
							</form>
						</div>

						<br />
						<a th:href="@{/registration}" th:utext="#{label.form.loginSignUp}">registration</a>
						<br /><br />
						<a th:href="@{/login}" th:utext="#{label.form.loginLink}">login</a>

					</div>
				</div>
			</div>
		</div>
		
		<script th:inline="javascript">
			var serverContext = [[@{/}]];

			$(document).ready(function () {
				$('form').submit(function (event) {
					resetPass(event);
				});
			});

			function resetPass(event) {
				event.preventDefault();
				var email = $("#email").val();
				$.post(serverContext + "user/resetPassword", {email: email}, function (data) {
					window.location.href = serverContext + "login?message=" + data.message;
				})
					.fail(function (data) {
						if (data.responseJSON.error.indexOf("MailError") > -1) {
							window.location.href = serverContext + "emailError.html";
						}
						else {
							window.location.href = serverContext + "login?message=" + data.responseJSON.message;
						}
					});
			}

			$(document).ajaxStart(function () {
				$("title").html("LOADING ...");
			});
		</script>
	</div>
</body>

</html>