<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
layout:decorate="~{layout}">
<head>
<title th:utext="#{label.pages.home.title}">home</title>
</head>
<body class="d-flex flex-column h-100">
<div layout:fragment="content">

    <div class="container">
	    <div sec:authorize="hasAuthority('ADMIN_PRIVILEGE')" th:utext="#{label.pages.user.message}">user</div>
	
	    <div sec:authorize="hasAuthority('ADMIN_PRIVILEGE')" th:utext="#{label.pages.admin.message}"></div>
	     
	    <p th:if="${param.user} != null" th:text="${param.user[0]}">user</p>
	     
	    <a class="btn btn-default" th:href="@{/admin.html}" th:utext="#{label.pages.admin}">admin</a>
		<br /> <br />
	    <a th:href="@{/loggedUsers}" th:utext="#{label.pages.users.message}">View logged in users</a>
		<br />	    
	    <a th:href="@{/loggedUsersFromSessionRegistry}" th:utext="#{label.pages.users.sessionregistry.message}">View logged in users</a>
	    
    </div>
</div>
</body>
</html>
