<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="~{layout}">
<head>
<title th:utext="#{label.pages.home.title}">Title</title>
<script th:inline="javascript">
	function validate() {
		if (document.f.username.value == "" && document.f.password.value == "") {
			alert(/*[[#{message.username} + #{message.password}]]*/);
			document.f.username.focus();
			return false;
		}
		if (document.f.username.value == "") {
			alert(/*[[#{message.username}]]*/);
			document.f.username.focus();
			return false;
		}
		if (document.f.password.value == "") {
			alert(/*[[#{message.password}]]*/);
			document.f.password.focus();
			return false;
		}
	}

	window.onload = function() {
		displayMessage();
	};

	function displayMessage() {

		const queryString = window.location.search;
		const urlParams = new URLSearchParams(queryString);
		const message = urlParams.get('message');

		const div = document.getElementById('message');
		if (div.style.display === "none" && message != null) {
			div.style.display = "block";
			div.textContent = message;
		}
	}
</script>
</head>

<body>
	<div layout:fragment="content">
		<div class="container">
			<div th:if="${message != null}" class="alert alert-info"
				th:utext="${message}">message</div>

			<div id="message" th:if="${message == null}" style="display: none;"
				class="alert alert-info"></div>


			<div th:if="${error != null}" class="alert alert-danger"
				th:utext="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>
			<div class="row">
				<form name='f' action="login" method='POST' onsubmit="return validate();">
					<label class="col-sm-4" th:utext="#{label.form.loginEmail}">Email</label>
					<span class="col-sm-8"><input class="form-control"
						type='text' name='username' value='' /></span> <br /> <label
						class="col-sm-4" th:utext="#{label.form.loginPass}">password</label>
					<span class="col-sm-8"><input class="form-control"
						type='password' name='password' /></span> <br /> <input
						class="btn btn-primary" name="submit" type="submit"
						th:value="#{label.form.submit}" />

				</form>
				<br /> <a class="btn btn-light" th:href="@{/registration}"
					th:utext="#{label.form.loginSignUp}">signup</a> <br /> <br /> <a
					class="btn btn-light" th:href="@{/forgetPassword}"
					th:utext="#{message.forgetPassword}">forget</a>
			</div>
		</div>
	</div>
</body>

</html>