<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
layout:decorate="~{layout}">
<head>
    <title th:utext="#{label.pages.home.title}"></title>
</head>
<body>
<div layout:fragment="content">

<div class="container">
    <h1>Role Hierarchy</h1>
    <p sec:authorize="hasRole('ADMIN')" th:utext="${adminMessage}">Access to ADMIN section</p>
    <p sec:authorize="hasRole('STAFF')" th:utext="${staffMessage}">Access to STAFF section</p>
    <p sec:authorize="hasRole('USER')" th:utext="${userMessage}">Access to USER section</p>
</div>
</div>
</body>
</html>