<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" layout:decorate="~{layout}">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII" />
	<title th:utext="#{label.pages.home.title}">home</title>
</head>

<body class="d-flex flex-column h-100">
	<div layout:fragment="content">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12 col-md-8 col-lg-6 col-xl-8">
				<div class="card shadow-2-strong" style="border-radius: 1rem;">
					<div class="card-body p-5 text-center">
						<h1 class="alert alert-success" th:utext="#{message.regSucc}">success</h1>
						<a th:href="@{/login}" th:utext="#{label.login}">login</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>